{% macro recursiveChapter( root, chapter, lesson, isRoot, depth, isParentPublished ) %}

    {# IF CHILD EMPTY -> MAKE IT SORTABLE #}
    {# IF IS ROOT / depth == 0 -> START A NEW UL CONTAINER WITH TITLE #}
    {# IF DEPTH == 1 -> RAILROAD CONTAINER #}

    {# Careful : the child.done value is boolean, the done variable for the done button is an Done object #}
   
    {% if depth == 0 %}
        <ul data-depth="{{ (depth) }}" class="slrn-widget__list slrn-widget jquery-sortable-list jquery-sortable-list--lesson{% if root.__children|length == 0%} empty{% endif %}" data-list= "{{ root.id }}" id="lesson_menu">
    {% else %}
        {% if depth == 1 %}
            <ul data-depth="{{ depth }}" class="slrn-widget__list--railroad slrn-widget__list bg-color-grey-1{% if root.__children|length == 0%} empty{% endif %}" id="list_{{ root.id }}" data-list="{{ root.id }}">
        {% else %}
            <ul  data-depth="{{ depth }}" class="slrn-widget__list slrn-widget__list--sub bg-color-grey-1{% if root.__children|length == 0%} empty{% endif %}" id="list_{{ root.id }}" data-list="{{ root.id }}">
        {% endif %}
    {% endif %}
    {% if root.__children|length %}
        {% for child in root.__children %}
        {% if not child.published or not isParentPublished %}{% set published = false %}{% else %}{% set published = true %}{% endif %}
            {% if child.done %}{% set itemClassDone = ' is-done' %}{% else %}{% set itemClassDone = '' %}{% endif %}
            <li class="slrn-widget__list__item {{ itemClassDone }}" id = '{{ child.id }}' data-path = '{{ path('icap_lesson_move_chapter', { 'resourceId': lesson.id, 'chapterId': child.id })}}' >
            {% if child.id == chapter.id %}
                {% if isRoot %}
                    <div class='menu-item active_chapter' id = 'menu_item_{{ child.id }}'>
                    {% if published or is_granted('EDIT', lesson) %}<i class='icon-angle-down collapsor {% if child.__children|length == 0%}empty{% endif %}' id='collapsor_icon_{{ child.id }}' data-collapsor = '{{ child.id }}'></i>{% endif %}
                {% else %}
                    <div class='menu-item active_chapter' id = 'menu_item_{{ child.id }}'>  
                {% endif %}
            {% else %}
                {% if isRoot %}
                    <div class='menu-item' id = 'menu_item_{{ child.id }}'>
                    {% if published or is_granted('EDIT', lesson) %}<i class='icon-angle-down collapsor {% if not published %}slrn-disabled-chapter{% endif %} {% if child.__children|length == 0%}empty{% endif %}' id='collapsor_icon_{{ child.id }}' data-collapsor = '{{ child.id }}'></i>{% endif %}
                {% else %}
                    <div class='menu-item' id = 'menu_item_{{ child.id }}'>
                {% endif %}
            {% endif %}
            {#<i data-handle = '{{ child.id }}' class="icon-file-text-alt handle_sortable lesson_tooltip" data-original-title='{{ 'dragndrop_button'|trans({}, 'icap_lesson') }}'></i>#}
            {# DO NOT LINK FIRST LEVEL TREE #}  
            {% if (published and not isRoot) or is_granted('EDIT', lesson) %}
                <a class="slrn-widget__title_link{% if not published %} slrn-disabled-chapter{% endif %}" href="{{ path('icap_lesson_chapter', { 'resourceId': lesson.id, 'chapterId': child.id }) }}">
            {% else %}
                <a class="slrn-widget__title_link{% if not published %} slrn-disabled-chapter{% endif %}" name="{{ path('icap_lesson_chapter', { 'resourceId': lesson.id, 'chapterId': child.id }) }}">
            {% endif %}
                {{ child.title }}</a>
            </div>
                {% if isRoot %}{% set depth = 1 %}{% else %}{% set depth = depth + 1 %}{% endif %}
                {% if published or is_granted('EDIT', lesson) %}{{ _self.recursiveChapter(child, chapter, lesson, false, depth, published ) }}{% endif %}
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endmacro %}

{% if tree is defined and tree != null and tree.__children is defined and tree.__children|length %}
    <div class="col-xs-12 col-md-12 slrn-widget slrn-widget--lessons menu_lesson " data-offset-top="90" data-clampedwidth="#lesson_left_column">
        {% if is_granted('EDIT', node) %}
        <div class="slrn-railroad-editor">
            <ul class='nav slrn-widget-row-editor'>
                <li class='btn btn-default col-xs-12 lesson_tooltip menu_lesson_button' data-original-title='{{ 'create_root'|trans({}, 'icap_lesson') }}'><a data-chapter = '{{ chapter.id }}' href="{{ path('icap_lesson_new_chapter', { 'resourceId': _resource.id, 'parentChapterId': tree.id })}}" class='icon_link createchapter btn'><span class="icon-plus"  ></span><span class='chapter_menu_labels'>{{ 'new_chapter'|trans({}, 'icap_lesson') }}</span></a></li>
                <li class='btn btn-default col-xs-12 lesson_tooltip menu_lesson_button' data-original-title='{{ 'enabled_move'|trans({}, 'icap_lesson') }}'><a href='#' id='enable_move' data-status = 'enable' class='icon_link'><span class="icon-move" ></span><span class='chapter_menu_labels'>{{ 'reorganize'|trans({}, 'icap_lesson') }}</span></a></li>
                <li class='btn btn-default col-xs-6 lesson_tooltip menu_lesson_button' data-original-title='{{ 'collapse_all'|trans({}, 'icap_lesson') }}'><a href='#' id='collapse_all' class='icon_link btn'> <span class="icon-long-arrow-up" ></span><span class="icon-minus"></span></a></li>
                <li class='btn btn-default col-xs-6 lesson_tooltip menu_lesson_button' data-original-title='{{ 'expand_all'|trans({}, 'icap_lesson') }}'><a href='#' id='expand_all' class='icon_link btn'><span class="icon-long-arrow-down"></span><span class="icon-reorder"></span></a></li>
            </ul>
        </div>
        {%  endif  %}
        {% set depth = 0 %}
        {{ _self.recursiveChapter( tree, chapter, _resource, true, depth, true ) }}
        <br />
        <div style='display:none;' id = 'moveChapterFormContainer'>
            {% include 'IcapLessonBundle:Lesson:choiceMoveChapterForm.html.twig' %}
        </div>
    </div>
{% else %}
    {{ 'There is no chapter'|trans({}, 'icap_lesson') }}
{% endif %}